/*-****************************************************************************/
/*- Stylesheet specifically for the tutorial embedded in Bricksmith.app		  */
/*-****************************************************************************/

/* Show stuff meant to be seen only in the application */
.applicationOnlyContent
{
}

/* Vanish content meant to be seen only online. Make it like it never was! */
.websiteOnlyContent
{
	visibility: hidden;
	height: 0px;
	width: 0px;
}

